.tempPin, .humidPin, .co2Pin, .pressurePin, .moistPin, .soilECPin, .poreECPin {
    position: fixed;
    left: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    z-index: 9999;
    font-family: Arial, sans-serif;
    text-align: right;
}

.tempPin {
    bottom: 270px;
}

.humidPin {
    bottom: 230px;
}

.co2Pin {
    bottom: 190px;
}

.pressurePin {
    bottom: 150px;
}

.moistPin {
    bottom: 110px;
}


.soilECPin {
    bottom: 70px;
}

.poreECPin {
    bottom: 30px;
}

.heat-warning, .humid-warning, .co2-warning, .moisture-warning {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: default; /* No pointer since it's just a warning */
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.heat-warning.visible, .humid-warning.visible, .co2-warning.visible, .moisture-warning.visible {
    opacity: 1;
}

/* Optional: Add a pulsing animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.heat-warning.pulse, .humid-warning.pulse, .co2-warning.pulse, .moisture-warning.pulse {
    animation: pulse 1s infinite;
}

@media (max-width: 600px) {
    .tempPin, .humidPin, .co2Pin, .pressurePin, .moistPin, .soilECPin, .poreECPin {
        font-size: 16px; 
        left: 10px;
    }
    .tempPin {
        bottom: 160px;
    }
    .humidPin {
        bottom: 135px;
    }
    .co2Pin {
        bottom: 110px;
    }
    .pressurePin {
        bottom: 85px;
    }
    .moistPin {
        bottom: 60px;
    }
    .soilECPin {
        bottom: 35px;
    }
    .poreECPin {
        bottom: 10px;
    }

}